npx.sh
.DS_Store
node_modules
# jekyll
.jekyll-metadata
_site
.sass-cache
.jekyll-cache
vendor/

# bundler
*.gem
Gemfile.lock


# python
*.whl


# npm
node_modules
package-lock.json


# _sass
_sass/@primer/css/**/*.md


# lighthouse
*.report.html


# action
action.changelog.md

# Local Netlify folder
.netlify
